@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --rojo-derco: #dc241f;
  /* color rojo */
  --negro-derco: #4d4d4d;
  /* color negro para footer (ajusta según necesites) */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Estilos personalizados */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 120px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.top-bar {
  background-color: #dc241f;
  color: white;
  font-size: 14px;
  text-align: right;
  padding: 5px 20px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.section-title {
  text-align: center;
  font-weight: bold;
  color: #555;
  margin: 40px 0 20px;
}

.card-category {
  transition: transform 0.3s ease;
}

.card-category:hover {
  transform: scale(1.05);
}

.card-category .card-footer {
  background-color: #dc241f;
  color: white;
  text-align: center;
  font-weight: 600;
}
/*
.footer {
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}
*/
.footer {
  background: var(--negro-derco);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--rojo-derco);
}

.bg-rojo {
  background-color: #dc241f;
  /* rojo tipo Bootstrap danger */
  color: #fff;
  /* texto blanco */
  padding: 1rem;
  /* espacio interno para que se vea el fondo */
}

.footer-logo {
  height: 60px;      /* ajusta la altura deseada */
  width: auto;
  max-width: 100%;
  object-fit: contain; /* mantiene la proporción sin recortar */
  display: inline-block;
}


.container {
  width: 100%;
  padding-right: 0px;
  /*var(--bs-gutter-x, 0.75rem);*/
  padding-left: 0px;
  /*var(--bs-gutter-x, 0.75rem);*/
  border-right: 0px;
  border-left: 0px;

  margin-left: auto;
  margin-right: auto;

}

.card card-category {
  height: 400px;
  /* fija la altura del carousel */
  object-fit: cover;
  /* recorta sin deformar */
}

@media (max-width:768px) {
  .carousel-img {
    height: 220px;
  }
}